<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="ff946934-8e3c-42a6-b8df-8db4daf72b98" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 9" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ff946934-8e3c-42a6-b8df-8db4daf72b98fileName">REST-Service-9</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints/>
</con:interface>
