<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="fee21f70-4acb-4dae-b86a-1d42a97909a6" name="TestSuite 2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="fee21f70-4acb-4dae-b86a-1d42a97909a6fileName">TestSuite-2</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
