<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="fd565e7d-55bb-4e78-ac08-e24af8d5c548" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 5" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="fd565e7d-55bb-4e78-ac08-e24af8d5c548fileName">REST-Service-5</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints/>
</con:interface>
