<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="dcf101c0-1326-40c3-a5a1-d270588063e2" name="Activity_master_integration" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="dcf101c0-1326-40c3-a5a1-d270588063e2fileName">Activity_master_integration</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
