<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a9c270c1-73ec-4b05-ae4d-e05f5ee60a09" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a9c270c1-73ec-4b05-ae4d-e05f5ee60a09fileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="ec1271d0-f1a4-4d5a-bd81-fbae999c31c1">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
