<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="0bdfaefa-7996-44cc-8202-040befd757ac" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 1" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="0bdfaefa-7996-44cc-8202-040befd757acfileName">REST-Service-1</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints/>
  <con:environmentSpec>
    <con:entry environmentId="ec1271d0-f1a4-4d5a-bd81-fbae999c31c1">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
